body {
    overflow: auto;
    overflow-y: scroll;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}

.movie_util {
    margin-top: 70px;
}

.movie-header {
    /*height: 100%;*/
    margin: 0 auto;
    background-color: black;
    z-index: -2;
}
.movie-header-bg {
    z-index: -1;
    margin: 0 auto;
    padding: 0;
    /* 배경이미지 반복여부 */
    background-repeat: no-repeat;
    /* 배경의 위치는 그 세션의 정가운데에 위치 */
    background-position: center;
    /* 더이상 요소가 스크롤될때 같이 스크롤되지않고 이미지가 뷰포트부분에 고정, 화면이 스크롤 되더라도 같이 움직이지않는구조로 만듬 */
    background-attachment: fixed;
    /* 배경의 이미지를 요소에 더 넓은 너비에 맞춰서 출력 */
    background-size: contain;

}

.movie-header .cover {
    z-index: 0;
    background-color: rgba(18, 18, 18, 0.8);


}
.movie-header .inner {
    width: 1100px;
    margin: 0 auto;
    padding: 60px;
    display: flex;
}

.poster {
    display: block;
    right: 0;
    top: 45px;
    z-index: 2;
    width: 260px;
    height: 374px;
}
.inner .title {
    position: static;
    left: inherit;
    top: inherit;
    width: 800px;
    padding: 15px 0 0 0;
    margin-bottom: 70px;
    color: #fff;
    font-size: 3.0666em;
    font-weight: 400;
    line-height: 1.2;
    text-shadow: 2px 2px 10px rgb(0 0 0 / 70%);
}
.inner .tit {
    display: block;
    padding: 15px 0 0 0;
    margin-bottom: 0;
    line-height: 1.1;
    font-size: .9333em;
    color: #ccc;
}
.inner .cont {
    margin: 0 4px 0 0;
    color: #59bec9;;
    font-size: 2.1333em;
    font-family: Roboto,Dotum,'돋움',sans-serif;
    font-weight: 400;
}

.inner {
    width: 1100px;
    margin: 0 auto;
    padding: 60px;
    display: flex;
}

.movie-summary span {
    color: #222;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 70px;
}



.reply .tit {
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.star_rate .starR1 {
    background: url("/images/star_half.png") no-repeat 0 0;
    background-size: auto 100%;
    width: 25px;
    height: 50px;
    float: left;
    cursor: pointer;
    border: none; margin: 0; padding: 0
}

.star_rate .starR2 {
    background: url("/images/star_half.png") no-repeat 0 0;
    background-size: auto 100%;
    width: 25px;
    height: 50px;
    float: left;
    cursor: pointer;
    border: none; margin: 0; padding: 0;

    /*transform:rotate(90deg);*/
    /*-moz-transform: scaleX(-1);*/
    /*-o-transform: scaleX(-1);*/
    /*-webkit-transform: scaleX(-1);*/
    transform: scaleX(-1);

}

.star_rate .starR1:hover ~button{
    background: transparent;
    background-size: auto 100%;
    float: left;
    width: 25px;
    height: 50px;
    border: none; margin: 0; padding: 0;

}

.star_rate .starR2:hover ~button {
    background: transparent;
    background-size: auto 100%;
    float: left;
    width: 25px;
    height: 50px;
    border: none; margin: 0; padding: 0;

    /*transform:rotate(90deg);*/
    /*-moz-transform: scaleX(-1);*/
    /*-o-transform: scaleX(-1);*/
    /*-webkit-transform: scaleX(-1);*/
    /*transform: scaleX(-1);*/
}

/*.star_rate .starR1:visited ~button{*/
/*    background: transparent;*/
/*    background-size: auto 100%;*/
/*    float: left;*/
/*    width: 25px;*/
/*    height: 50px;*/
/*    border: none; margin: 0; padding: 0;*/

/*}*/

/*.star_rate .starR2:visited ~button {*/
/*    background: transparent;*/
/*    background-size: auto 100%;*/
/*    float: left;*/
/*    width: 25px;*/
/*    height: 50px;*/
/*    border: none; margin: 0; padding: 0;*/

/*    !*transform:rotate(90deg);*!*/
/*    !*-moz-transform: scaleX(-1);*!*/
/*    !*-o-transform: scaleX(-1);*!*/
/*    !*-webkit-transform: scaleX(-1);*!*/
/*    !*transform: scaleX(-1);*!*/
/*}*/

.reply {
    /*height: 100%;*/
    margin: 0 auto;
    background-color: black;
    z-index: -2;
}
.reply-bg {
    z-index: -1;
    margin: 0 auto;
    padding: 0;
    /* 배경이미지 반복여부 */
    background-repeat: no-repeat;
    /* 배경의 위치는 그 세션의 정가운데에 위치 */
    background-position: center;
    /* 더이상 요소가 스크롤될때 같이 스크롤되지않고 이미지가 뷰포트부분에 고정, 화면이 스크롤 되더라도 같이 움직이지않는구조로 만듬 */
    background-attachment: fixed;
    /* 배경의 이미지를 요소에 더 넓은 너비에 맞춰서 출력 */
    background-size: contain;

}

.reply .cover {
    z-index: 0;
    /*background-color: rgba(18, 18, 18, 0.8);*/
    background: #f8f8f8;

}
.reply .inner {
    /*width: 1100px;*/
    margin: 0 auto;
    padding: 60px ;
    background: #f8f8f8;
    height: 300px;
    display: block;
}

.review-score_box {
    margin: 60px auto;


}
.star-info {

    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;

    /*display: flex;*/
}
.star_rate {
    display: inline-block;
    margin: auto;
}

.star-info .score_info {
    margin: 0 0 0 10px;
    font-size: 2.5em;
    font-weight: 700;
}

.review_box {
    display: flex;
    margin: 0 10% auto;
    width: 100%;
    height: 100%;
    vertical-align: center;
    align-items: center;
}
#reply-content {
    width: 70%;
    height: 50%;
    vertical-align: center;
    display: inline-block;
}
.review-button {
    width: 11%;
    height: 50%;
    vertical-align: center;
    display: inline-block;
}

.story-area .user-prof {
    width: 80px;
}

.reply .review-print_box {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-top: 20px;
}
.review-print_box .story-area {
    vertical-align: middle;
    align-items: center;
}

.reply .review-print_box .story-box {
    display: table;
    align-items: center;
    vertical-align: middle;
    position: relative;
    width: calc(100% - 105px);
    height: 84px;
    padding: 0;
    background-color: #f8f8fa;
    border-radius: 0 0 0 10px;

}
.story-box .tit {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    height: 84px;
    width: 105px;
    color: #0a53be;
    font-size: 20px;
    font-weight: 300;
}
.story-box .story-point {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 50px;
    /*text-align: center;*/
    color: #0a53be;
    font-size: 45px;
    font-weight: 300;
}


.reply .review-print_box .story-box .story-txt {
    display: table-cell;
    position: relative;
    padding: 0 20px 0 30px;
    text-align: left;
    width: 60%;
    color: #666;
    vertical-align: middle;
    font-size: .9333em;
    line-height: 1.4;
    align-items: center;
}
.reply .review-print_box .story-box .story-txt:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 50px;
    /*margin: auto;*/
    margin-top: -25px;
    background-color: rgba(0,0,0,.1);
}

.story-box .story-utill {
    display: table-cell;
    vertical-align: middle;
}

.reply .date {
    text-align: right;
}










