<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.bitcare.dao.AlarmDAO">

    <!-- 받은 알람 select -->
    <select id="selectByReceiver" parameterType="String" resultType="alarmDTO">
        SELECT * FROM `alarm`
        where `receiver`= #{logInName}
        order by `entry_date` desc
    </select>

    <!-- 조회할 알람 선택 -->

    <select id="selectOne" parameterType="int" resultType="alarmDTO">
        SELECT * FROM `alarm`
        where `id`= #{id}
    </select>

    <!-- 알람 생성 -->
    <insert id="insert" parameterType="alarmDTO" useGeneratedKeys="true" keyProperty="id">
        insert into `alarm`(sender,receiver,content,type,entry_date,state)
        values(#{sender}, #{receiver}, #{content}, #{type}, now(), #{state})
    </insert>

    <!-- 알람 상태 변경 -->

    <update id="update" parameterType="alarmDTO">
        UPDATE `alarm`
        SET state=#{state}
        WHERE id=#{id}
    </update>

    <!-- 알람 삭제 -->

    <delete id="delete" parameterType="int">
        DELETE FROM `alarm`
        WHERE id= #{id}
    </delete>

    <!-- 알람 전체 삭제 -->

    <delete id="allDelete" parameterType="String">
        DELETE FROM `alarm`
        WHERE receiver = #{name}
    </delete>

</mapper>