<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.bitcare.dao.DiseaseDAO">

    <!-- 상병 검색 -->
    <select id="search" parameterType="String" resultType="diseaseDTO">
        SELECT * FROM `disease`
        WHERE name LIKE concat('%', #{keyword}, '%')
        OR
        code LIKE concat('%', #{keyword}, '%')
        LIMIT 500;
    </select>

    <!-- 상병 선택 -->
    <select id="selectOne" parameterType="int" resultType="diseaseDTO">
        select * from `disease`
        where id = #{id}
    </select>

</mapper>