<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.bitcare.dao.HistoryDiseaseDAO">

    <!-- 진료 기록의 상변부분(history_disease) select -->
    <select id="selectByHistoryId" parameterType="int" resultType="historyDiseaseDTO">
        select * from `history_disease`
        where history_id = #{historyId}
        ORDER BY history_disease.degree DESC;
    </select>

    <!-- 진료 기록의 상병부분(history_disease) insert -->
    <insert id="insert" parameterType="historyDiseaseDTO">
        insert into `history_disease`(history_id,degree,code,name)
        values(#{historyId}, #{degree}, #{code}, #{name})
    </insert>

    <!-- 진료 기록의 상병부분(history_disease) 삭제 -->
    <delete id="delete" parameterType="int">
        DELETE FROM `history_disease`
        WHERE id= #{id}
    </delete>

</mapper>