<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.bitcare.dao.MessageDAO">

    <!-- 받은 메세지 목록 -->
    <select id="selectByReceiver" parameterType="String" resultType="messageDTO">
        SELECT * FROM `message`
        where `receiver`= #{logInName} and `receive_state` != 'delete'
        order by `entry_date` desc
    </select>

    <!-- 보낸 메세지 목록 -->
    <select id="selectBySender" parameterType="String" resultType="messageDTO">
        SELECT * FROM `message`
        where `sender`= #{logInName} and `send_state` != 'delete'
        order by `entry_date` desc
    </select>

    <!-- 메세지 선택 -->
    <select id="selectOne" parameterType="int" resultType="messageDTO">
        SELECT * FROM `message`
        where `id`= #{id} and `receive_state` != 'delete'
    </select>

    <!-- 메세지 생성 -->
    <insert id="insert" parameterType="messageDTO" useGeneratedKeys="true" keyProperty="id">
        insert into `message`(sender,receiver,content,message_file,receive_state,send_state,entry_date)
        values(#{sender}, #{receiver}, #{content}, #{messageFile}, #{receiveState}, #{sendState}, now())
    </insert>

    <!-- 메세지 상태 변경 -->
    <update id="update" parameterType="messageDTO">
        UPDATE `message`
        SET receive_state=#{receiveState}
        WHERE id=#{id}
    </update>

    <!-- 발송취소(전달 메시지 삭제) -->
    <delete id="delete" parameterType="int">
        DELETE FROM `message`
        WHERE id= #{id}
    </delete>

    <!-- 받은 메시지 삭제 -->
    <delete id="deleteReceive" parameterType="int">
        UPDATE `message`
        SET receive_state='delete'
        WHERE id= #{id}
    </delete>

    <!-- 받은 메시지 전체 삭제 -->
    <delete id="allDeleteReceive" parameterType="string">
        UPDATE `message`
        SET receive_state='delete'
        WHERE name= #{name}
    </delete>

    <!-- 보낸 메시지 삭제 -->
    <delete id="deleteSend" parameterType="int">
        UPDATE `message`
        SET send_state='delete'
        WHERE id= #{id}
    </delete>

    <!-- 보낸 메시지 전체 삭제 -->
    <delete id="allDeleteSend" parameterType="string">
        UPDATE `message`
        SET send_state='delete'
        WHERE name= #{name}
    </delete>
</mapper>