<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.bitcare.dao.PatientDAO">

    <!-- 환자 선택 -->
    <select id="selectOne" parameterType="int" resultType="patientDTO">
        SELECT * FROM `patient`
        WHERE id=#{id}
    </select>

    <!-- 환자 전체 선택 -->
    <select id="selectAll" resultType="patientDTO">
        SELECT * FROM `patient`
    </select>

    <!-- 환자 삭제 -->
    <delete id="delete" parameterType="int">
        DELETE FROM `patient`
        WHERE id= #{id}
    </delete>

    <!-- 환자 정보 생성 -->
    <insert id="insert" parameterType="patientDTO">
        insert into `patient`(name,identity_number,gender,birth,phone_number,address_id)
        values(#{name}, #{identityNumber}, #{gender}, #{birth}, #{phoneNumber}, #{addressId})
    </insert>

</mapper>