<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
     * ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
     * 2023.05.17 홍사범
     *
     * selectOne 수정, SelectAll 수정, selectAllByDept 추가
     * waiting, patient join
     * ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
-->

<mapper namespace="com.bit.bitcare.dao.WaitingDAO">

    <!-- 접수 대기 인원 선택 -->
    <select id="selectOne" parameterType="int" resultType="waitingDTO">
        SELECT waiting.*, patient.name, patient.identity_number, patient.phone_number, patient.gender, patient.birth,
        patient.address_id FROM waiting
        LEFT JOIN patient
        ON waiting.patient_id = patient.id
        WHERE waiting.id= #{id}
    </select>

    <!-- 접수 대기 목록 -->
    <select id="selectAll" resultType="waitingDTO">
        SELECT waiting.*, patient.name, patient.identity_number, patient.phone_number, patient.gender, patient.birth,
        patient.address_id FROM waiting
        LEFT JOIN patient
        ON waiting.patient_id = patient.id;
    </select>

    <!-- 접수대기환자 by진료과목  -->
    <select id="selectWaitByDept" resultType="waitingDTO">
        SELECT waiting.*, patient.name, patient.identity_number, patient.phone_number, patient.gender, patient.birth,
        patient.address_id FROM waiting
        LEFT JOIN patient
        ON waiting.patient_id = patient.id
        WHERE waiting.dept_id = #{deptId} AND waiting.state = '대기중';
    </select>
    <!-- 접수대기환자 by진료과목  -->
    <select id="selectCompletedByDept" resultType="waitingDTO">
        SELECT waiting.*, patient.name, patient.identity_number, patient.phone_number, patient.gender, patient.birth,
        patient.address_id FROM waiting
        LEFT JOIN patient
        ON waiting.patient_id = patient.id
        WHERE waiting.dept_id = #{deptId} AND waiting.state = '진료완료';
    </select>

    <!-- 접수 처리(대기 목록 삭제) -->
    <delete id="delete" parameterType="int">
        DELETE FROM `waiting`
        WHERE id= #{id}
    </delete>

    <!-- 접수 대기 목록 생성 -->
    <insert id="insert" parameterType="waitingDTO">
        insert into `waiting`(patient_id,dept_id,symptom,entry_date,reservation_date)
        values(#{patientId}, #{deptId}, #{symptom}, now(), #{reservationDate})
    </insert>

    <!-- 접수 대기 목록 수정-->
    <update id="update" parameterType="historyDTO">
        UPDATE `waiting` SET
        patient_id = #{patientId},
        dept_id = #{deptId},
        symptom = #{symptom},
        entry_date = #{entryDate},
        reservation_date = #{reservationDate},
        state = #{state}
        WHERE
        id = #{id}
    </update>

</mapper>