<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MemberMapper">

    <select id="selectOne" parameterType="int" resultType="com.bit.carechart.model.MemberDTO">
        SELECT * FROM `user`
        WHERE id = #{id}
    </select>


    <select id="selectAll" resultType="com.bit.carechart.model.MemberDTO">
        SELECT * FROM members
    </select>

    <update id="update" parameterType="userDTO">
        UPDATE `user` SET
        password = #{password},
        nickname = #{nickname},
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM user
        WHERE id= #{id}
    </delete>


</mapper>