<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><p><%=userId%>님 정보 수정이 정상적으로 되었습니다.</p></div>
    <br><br>
    <a href="/proc/logout">로그아웃</a>
    <a href="/updateFrm">정보 수정</a>
</body>
</html>
